// text-radio-switch directive
$trsFontSize: 1em !default;
$trsLineHeight: 2em !default;
$trsFontColor: inherit !default;
$trsActiveColor: darken(red, 5%) !default;
$trsBgColor: transparent !default;
$trsHlColor: rgba(white, .2) !default;
$trsItemsGap: .7em !default;
.text-radio-switch{
  font-size: $trsFontSize;
  line-height: $trsLineHeight;
  color: $trsFontColor;
  background: $trsBgColor;
  margin: 0 0 0 ;
  padding: 0 0 1em;
  position: relative;
  white-space: nowrap;
  overflow: hidden;

  .text-radio-switch__left{
    position: absolute;
    left: 0;
    opacity: 0;
  }

  .text-radio-switch__right{
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;

  }
  .text-radio-switch__viewport{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    .text-radio-switch__label{
      margin-right: $trsItemsGap;
      user-select: none;
      &:hover{
        cursor: pointer;
      }
      &.text-radio-switch__label_active{
        color: $trsActiveColor;
      }
      &:last-child{
        margin-right: 0;
      }
      input{
        display: none;
      }
    }
  }

  .text-radio-switch__highlight-bar{
    background: $trsHlColor;
    position: absolute;
    top: $trsLineHeight;
    height: .2em;
    left: 0;
    width: 0;
    span{
      position: absolute;
      top: 0;
      bottom: 0;
      width: 0;
      left: 0;
      background: $trsActiveColor;
      transition: all .2s;
    }

  }

}




